@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5EBE0;
}

header {
    background-color: #ffffff; 
    padding: 20px; 
    width: 100%; 
    max-width: 550px; 
    border-radius: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 65px auto 0; 
}

header h1 {
    font-family: "Oswald", sans-serif; 
    font-weight: bold;
    color: #2b2d42; 
    font-size: 2.3em; 
    margin: 0; 
    text-align: center; 
}

/* Ponto Eletônico */
.container {
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 30px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 210px; 
    width: 550px;
    margin: 90px auto;
}

.data-hora {
    margin: 0; 
    text-align: center; 
    color: #333; 
}

.data-hora #dia-semana {
    font-size: 2.0em; 
    font-weight: bold;
    color: #2b2d42; 
    margin: 3px 0; 
}

.data-hora p {
    font-family: "Arvo", sans-serif;
    line-height: 2.4; 
    font-size: 1.2em; 
    margin: 5px 0; 
}

/* Botão */
.controle-ponto {
    text-align: center; 
    margin: -130px 0 20px; 
    display: flex;
    justify-content: center; 
    gap: 25px;
}

#btn-registrar-ponto, 
#btn-relatorio {
    font-family: "Arvo", sans-serif;
    font-weight: 600;
    padding: 15px 53px; 
    font-size: 1.5em; 
    color: white; 
    background-color: #1d3557; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#btn-registrar-ponto:hover, 
#btn-relatorio:hover {
    background-color: #1d3557;
    transform: translateY(-2px); 
}

/* Caixa de Ponto */
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 4, 10); 
    z-index: 100; 
    display: none; 
}

.overlay.visible {
    display: block; 
}

.dialog {
    padding: 20px;
    border: white;
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    background-color: white;
    animation: fadeIn 0.5s;
    z-index: 200; 
    position: relative; 
}

#dialog-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #2b2d42;
    cursor: pointer;
    transition: color 0.3s;
}

#dialog-fechar:hover {
    color: #FF4D5D;
}

.dialog__titulo {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    color: #2b2d42; 
    text-align: center; 
}

.dialog__item {
    font-family: "Arvo", sans-serif;
    line-height: 0.5;
    font-size: 1.2em;
    color: #2b2d42; 
}


.dialog__label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff; 
}

.dialog__select {
    padding: 10px;
    width: 100%; 
    border-radius: 5px;
    font-size: 1em;
    margin-top: -30px;
    margin-bottom: 10px;
    background-color: #2b2d42; 
    color: #ffffff; 
}

.dialog {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#btn-dialog-register {
    font-family: "Arvo", sans-serif;
    padding: 10px 27px;
    font-size: 1.2em;
    color: white;
    background-color: #2b2d42;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#btn-dialog-register:hover {
    background-color: #404470;
    transform: translateY(-2px);
}

#dialog-ultimo-registro {
    font-size: 0.8em;
    margin-top: 15px;
    color: #e63946;
    font-weight: bold;
}

#alerta-ponto-registrado {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    transition: opacity 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
